<p id="uncgFlashDownload"><em>Please note:</em> some items require the Flash Web Player. which can be <a href="http://www.macromedia.com/shockwave/download/alternates/"  class="exitUNCG">downloaded from the Macromedia website.</a></p>