<p id="uncgWindowsMediaDownload"><em>Please note:</em> some items require Windows Media Player, which can be <a href="http://www.microsoft.com/windows/windowsmedia/download/" class="exitUNCG">downloaded from the Microsoft website.</a></p>