<!-- Address Version 1.7 -->

    <dl title="University Contact Information">
      <dt>UNC Greensboro</dt>
      <dd><strong>Location</strong> 1400 Spring Garden Street Greensboro, NC 27412</dd>
      <dd><strong>Mailing Address</strong> PO Box 26170, Greensboro, NC 27402-6170</dd>
      <dd><strong>Telephone</strong> 336.334.5000</dd>
    </dl>
	<p> Copyright &copy; 2018. UNC Greensboro.<br/> All rights reserved.</p>