<!-- Footer Version 1.6 -->
<div class="footer-logo">

</div>

<div id="footer-nav">
    <ul id="navlist-footer">
        <li class="social"><a href="https://www.facebook.com/uncg1891/"><img
                src="vendor/uncg/wrapper/rincuncg/images/FB.svg"
                alt="Facebook"></a></li>
        <li class="social"><a href="https://twitter.com/UNCG"><img
                src="vendor/uncg/wrapper/rincuncg/images/Twitter.svg" alt="Twitter"></a>
        </li>
        <li class="social"><a href="https://www.instagram.com/uncg/"><img
                src="vendor/uncg/wrapper/rincuncg/images/Instagram.svg"
                alt="Instagram"></a></li>
        <li class="social"><a href="https://www.linkedin.com/school/uncg/"><img
                src="vendor/uncg/wrapper/rincuncg/images/Linkedin.svg"
                alt="Linkedin"></a></li>
        <li class="social"><a href="https://www.youtube.com/uncg"><img src="vendor/uncg/wrapper/rincuncg/images/YT.svg"
                                                                       alt="Youtube"></a>
        </li>
        <li class="social"><a href="https://www.snapchat.com/add/uncgreensboro"><img
                src="vendor/uncg/wrapper/rincuncg/images/Snapchat.svg"
                alt="Snapchat"></a></li>
    </ul>
    <div id="google_translate_element"></div>
    <a href="https://www.northcarolina.edu/" title="northcarolina.edu" alt="northcarolina.edu">
        <div id="unc-system"></div>
    </a>
</div>
