<!-- Footer Version 1.6 -->
<div id="footer-nav">
    <ul id="navlist-footer">
        <li class="li-box"><a href="http://ioc.uncg.edu/policies/">Web Standards &amp; Policies</a>
        </li>
        <li class="li-box noBorder"><a href="http://spartanalert.uncg.edu/">Emergency Info</a>
        </li>
        <li class="img-connect">
            <a href="http://connect.uncg.edu/" title="UNCG Connect Social Media Hub" class="logo-uncg-connect">
                <span class="sr-only">UNCG Connect Social Media Hub</span>
            </a>
        </li>
    </ul>
    <div id="google_translate_element"></div>
    <a href="https://www.northcarolina.edu/"><div id="unc-system"></div></a>
</div>
